In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [9]:
data_train= pd.read_csv(r'C:\Users\User\Desktop\activity\Activity1-Bigmarts-sales-prediction\data\Train.csv')
data_test= pd.read_csv(r'C:\Users\User\Desktop\activity\Activity1-Bigmarts-sales-prediction\data\Test.csv')

In [10]:
def modify_item_visibility(data_train):
    #Determine average visibility of a product
    visibility_avg = data_train.pivot_table(values='Item_Visibility', index='Item_Identifier')

    #Impute 0 values with mean visibility of that product:
    miss_bool = (data_train['Item_Visibility'] == 0)

    print('Number of 0 values initially: %d'%sum(miss_bool))
    data_train.loc[miss_bool,'Item_Visibility'] = data_train.loc[miss_bool,'Item_Identifier'].apply(lambda x: visibility_avg.loc[x])
    print('Number of 0 values after modification: %d'%sum(data_train['Item_Visibility'] == 0))

In [11]:
modify_item_visibility(data_train)

Number of 0 values initially: 526
Number of 0 values after modification: 0

In [12]:
data_train["Item_Visibility"].describe()

count    8523.000000
mean        0.069670
std         0.049810
min         0.003575
25%         0.031114
50%         0.056922
75%         0.097160
max         0.328391
Name: Item_Visibility, dtype: float64

In [13]:
data_train['Item_Identifier']

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object

In [14]:
print('Frequency of Categories for varible Item Type')
data_train['Item_Type'].value_counts()

Frequency of Categories for varible Item Type

Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: count, dtype: int64

In [15]:
data_train.groupby(["Item_Identifier","Item_Type"]).size()

Item_Identifier  Item_Type
DRA12            Soft Drinks           6
DRA24            Soft Drinks           7
DRA59            Soft Drinks           8
DRB01            Soft Drinks           3
DRB13            Soft Drinks           5
                                      ..
NCZ30            Household             7
NCZ41            Health and Hygiene    5
NCZ42            Household             5
NCZ53            Health and Hygiene    5
NCZ54            Household             7
Length: 1559, dtype: int64

In [16]:
def broad_item_type(data_train):
    #Get the first two characters of ID:
    data_train['Item_Type_Combined'] = data_train['Item_Identifier'].apply(lambda x: x[0:2])
    #Rename them to more intuitive categories:
    data_train['Item_Type_Combined'] = data_train['Item_Type_Combined'].map({'FD':'Food',
                                                                 'NC':'Non-Consumable',
                                                                 'DR':'Drinks'})
    print(data_train['Item_Type_Combined'].value_counts())

In [17]:
data_train["Outlet_Establishment_Year"].value_counts()

Outlet_Establishment_Year
1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: count, dtype: int64

In [18]:
data_train.groupby(["Outlet_Establishment_Year","Outlet_Identifier","Outlet_Type","Outlet_Location_Type"])["Item_Outlet_Sales"].mean()

Outlet_Establishment_Year  Outlet_Identifier  Outlet_Type        Outlet_Location_Type
1985                       OUT019             Grocery Store      Tier 1                   340.329723
                           OUT027             Supermarket Type3  Tier 3                  3694.038558
1987                       OUT013             Supermarket Type1  Tier 3                  2298.995256
1997                       OUT046             Supermarket Type1  Tier 1                  2277.844267
1998                       OUT010             Grocery Store      Tier 3                   339.351662
1999                       OUT049             Supermarket Type1  Tier 1                  2348.354635
2002                       OUT045             Supermarket Type1  Tier 2                  2192.384798
2004                       OUT035             Supermarket Type1  Tier 2                  2438.841866
2007                       OUT017             Supermarket Type1  Tier 2                  2340.675263
2009                       OUT018             Supermarket Type2  Tier 3                  1995.498739
Name: Item_Outlet_Sales, dtype: float64

In [19]:
def cal_outlet_year(data_train):
    #Years:
    data_train['Outlet_Years'] = 2013 - data_train['Outlet_Establishment_Year']
    print(data_train['Outlet_Years'].describe())

In [20]:
cal_outlet_year(data_train)

count    8523.000000
mean       15.168133
std         8.371760
min         4.000000
25%         9.000000
50%        14.000000
75%        26.000000
max        28.000000
Name: Outlet_Years, dtype: float64

In [21]:
def modify_item_fat_content(data_train):
    #Change categories of low fat:
    print('Original Categories:')
    print(data_train['Item_Fat_Content'].value_counts())

    print('\nModified Categories:')
    data_train['Item_Fat_Content'] = data_train['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                                 'reg':'Regular',
                                                                 'low fat':'Low Fat'})
    print(data_train['Item_Fat_Content'].value_counts())

In [22]:
modify_item_fat_content(data_train)

Original Categories:
Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

Modified Categories:
Item_Fat_Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64