In [42]:
import pandas as pd
import numpy as np

In [43]:
data_train= pd.read_csv(r'C:\Users\User\Desktop\activity\Activity1-Bigmarts-sales-prediction\notebooks\cleanedtrain.csv')
#data_test= pd.read_csv(r'C:\Users\User\Desktop\activity\Activity1-Bigmarts-sales-prediction\data\Test.csv')

In [44]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [45]:
data_train['item_fat_content']= le.fit_transform(data_train['item_fat_content'])
data_train['item_type']= le.fit_transform(data_train['item_type'])
data_train['outlet_size']= le.fit_transform(data_train['outlet_size'])
data_train['outlet_location_type']= le.fit_transform(data_train['outlet_location_type'])
data_train['outlet_type']= le.fit_transform(data_train['outlet_type'])
data_train['item_identifier'] = le.fit_transform(data_train['item_identifier'])
data_train['outlet_identifier'] = le.fit_transform(data_train['outlet_identifier'])

In [38]:
data_train

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,FDA15,9.300,1,0.016047,4,249.8092,OUT049,1999,1,0,1,3735.1380
1,DRC01,5.920,2,0.019278,14,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.500,1,0.016760,10,141.6180,OUT049,1999,1,0,1,2097.2700
3,FDX07,19.200,2,0.000000,6,182.0950,OUT010,1998,1,2,0,732.3800
4,NCD19,8.930,1,0.000000,9,53.8614,OUT013,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,1,0.056783,13,214.5218,OUT013,1987,0,2,1,2778.3833
8519,FDS36,8.380,2,0.046982,0,108.1570,OUT045,2002,1,1,1,549.2850
8520,NCJ29,10.600,1,0.035186,8,85.1224,OUT035,2004,2,1,1,1193.1136
8521,FDN46,7.210,2,0.145221,13,103.1332,OUT018,2009,1,2,2,1845.5977
8522,DRG01,14.800,1,0.044878,14,75.4670,OUT046,1997,2,0,1,765.6700

In [46]:
X=data_train.drop('item_outlet_sales',axis=1)
#B = data_train.drop('item_identifier', axis = 1)

In [47]:
data_train

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,156,9.300,1,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,8,5.920,2,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,662,17.500,1,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,1121,19.200,2,0.000000,6,182.0950,0,1998,1,2,0,732.3800
4,1297,8.930,1,0.000000,9,53.8614,1,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,370,6.865,1,0.056783,13,214.5218,1,1987,0,2,1,2778.3833
8519,897,8.380,2,0.046982,0,108.1570,7,2002,1,1,1,549.2850
8520,1357,10.600,1,0.035186,8,85.1224,6,2004,2,1,1,1193.1136
8521,681,7.210,2,0.145221,13,103.1332,3,2009,1,2,2,1845.5977
8522,50,14.800,1,0.044878,14,75.4670,8,1997,2,0,1,765.6700

In [48]:
Y=data_train['item_outlet_sales']

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

In [50]:
X.describe()

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,779.714889,12.857645,1.369354,0.066132,7.226681,140.992782,4.722281,1997.831867,1.170832,1.112871,1.201220
std,449.222377,4.226124,0.644810,0.051598,4.209990,62.275067,2.837201,8.371760,0.600327,0.812757,0.796459
min,0.000000,4.555000,0.000000,0.000000,0.000000,31.290000,0.000000,1985.000000,0.000000,0.000000,0.000000
25%,395.500000,9.310000,1.000000,0.026989,4.000000,93.826500,2.000000,1987.000000,1.000000,0.000000,1.000000
50%,783.000000,12.857645,1.000000,0.053931,6.000000,143.012800,5.000000,1999.000000,1.000000,1.000000,1.000000
75%,1167.000000,16.000000,2.000000,0.094585,10.000000,185.643700,7.000000,2004.000000,2.000000,2.000000,1.000000
max,1558.000000,21.350000,4.000000,0.328391,15.000000,266.888400,9.000000,2009.000000,2.000000,2.000000,3.000000

In [51]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
sc= StandardScaler()

In [52]:
X_train_std= sc.fit_transform(X_train)

In [53]:
X_test_std= sc.transform(X_test)

In [54]:
X_train_std

array([[ 0.59264645,  1.52290029, -0.57382672, ..., -1.95699503,
         1.08786619, -0.25964107],
       [-1.50626006, -1.23985602, -0.57382672, ..., -0.28872895,
        -0.13870429, -0.25964107],
       [-0.23049765,  1.54667616,  0.97378032, ..., -0.28872895,
        -0.13870429, -0.25964107],
       ...,
       [ 1.44241516, -0.08197106, -0.57382672, ...,  1.37953713,
        -1.36527477, -0.25964107],
       [ 0.81008074, -0.74888427,  0.97378032, ..., -0.28872895,
        -0.13870429, -0.25964107],
       [ 1.114045  ,  0.67885684, -0.57382672, ..., -0.28872895,
         1.08786619,  0.98524841]])

In [55]:
X_test_std

array([[ 1.39360338, -0.43860914, -0.57382672, ..., -0.28872895,
         1.08786619,  0.98524841],
       [ 0.7146759 ,  1.22570189, -0.57382672, ..., -1.95699503,
         1.08786619, -0.25964107],
       [ 0.3419314 , -1.21845774,  0.97378032, ...,  1.37953713,
        -1.36527477, -0.25964107],
       ...,
       [ 1.38250979,  0.65508097, -0.57382672, ..., -0.28872895,
         1.08786619, -1.50453056],
       [ 1.23385574,  1.01171905, -0.57382672, ..., -0.28872895,
         1.08786619,  0.98524841],
       [ 0.37299344, -1.56558547,  0.97378032, ..., -0.28872895,
        -0.13870429, -0.25964107]])

In [26]:
print(X_train.dtypes)

item_identifier               object
item_weight                  float64
item_fat_content               int32
item_visibility              float64
item_type                      int32
item_mrp                     float64
outlet_identifier             object
outlet_establishment_year      int64
outlet_size                    int32
outlet_location_type           int32
outlet_type                    int32
dtype: object

In [56]:
Y_train

3684     163.7868
1935    1607.2412
5142    1510.0344
4978    1784.3440
2299    3558.0352
          ...
599     5502.8370
5695    1436.7964
8006    2167.8447
1361    2700.4849
1547     829.5868
Name: item_outlet_sales, Length: 6818, dtype: float64

In [57]:
Y_test

8179     904.8222
8355    2795.6940
3411    1947.4650
7089     872.8638
6954    2450.1440
          ...
1317    1721.0930
4996     914.8092
531      370.1848
3891    1358.2320
6629    2418.1855
Name: item_outlet_sales, Length: 1705, dtype: float64

In [58]:
import joblib

In [64]:
joblib.dump(sc,r'D:/BIGMARTS/sc.sav')

OSError: [Errno 22] Invalid argument: 'D:/BIGMARTS/sc.sav'